.header {
    background-color: rgb(214, 233, 252);
    height: 10vh;
    margin-top: 0;
    padding: 0 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLeft{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    gap: 3%; 
    color: #1976d2;
}

.headerButtons{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    gap: 3%;
}

/* setting this to not show when screen is full view */
.headerMobileMenu{
    display: none;
}

.cloudPic{
    width: 50px;
}

.menuIcon{
    width: 40px;
}

@media screen and (max-width: 600px) {
    /* when screen is small, don't display */
    .headerButtons{
        display: none;
        width: 20%;
    }
    /* when screen is small, show this */
    .headerMobileMenu{
        display: block;
    }
    .headerLeft{
        width: 80%;
    }
}